*, *:before, *:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body{
    font-size: 12px;
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
h1, h2, h3 {
    padding: 0;
    margin: 10px 0;
}
a, a:visited {
    color: #333;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.map-container, #map{
    height: 100%;
    width: 100%;
}
#map {
    display: table;
}
.error-msg {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #999;
    font-size: 4em;
}
.docs-footer{
    position:absolute;
    padding: 0 20px;
    bottom: 0;
    left:0;
    color: #666;
    background-color: #fff;
}
.site-title {
    font-size: 3em;
}
.control-panel{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 6px;
    background: white;
    border: 1px solid #eee;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.4);
    border-radius: 4px;
    color: #868686;
    z-index: 999;
}
.filter-box{
    height: 35px;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #c8c8c8;
    color: #868686;
    width: 100%;
    outline: none;
    padding: 5px 5px 5px 10px;
    margin: 0;
}
.location {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.location li {
    margin: 1px 0;
    padding: 10px;
    background: #eee;
}
.location li:hover{
    background: #ddd;
}
.location-link {
    text-decoration: none;
    color: #666;
}
.location-link:hover{
    color: #c00;
}
.location-photo{
    width: 100%:
}
.info-img{
    height: 60px;
    overflow: hidden;
}
.info-detail {
}
.nearbyList {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nearbyList li{
    margin: 5px 0;
    font-size: 12px;
}
.dist {
    display: inline-block;
    width: 60px;
    padding: 2px;
    font-size: 11px;
}

.toggle {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 6px;
    font-size: 3em;
    cursor: pointer;
}
